.copedtext{
    background-color: #4a8f5f;
    padding: 5px;
    color: white !important;
}

.navbar-dark, .bg-dark{
    background-color: #3f434d !important;
    color: white !important;
}
.navbar-light, .bg-light{
    background-color: #ebf0ee !important;
    color: black !important;
}
.text-dark{
    color: white !important;
}
.text-light{
    color: black !important;
}